:root {
    --primary-color: #F62D2D;
    --text-color: #000000;
    --custom-color-green: #2EE17B;
    --header-height: 6.25rem;
    --header-height-xs: 65px;
}

$primaryColor:var(--primary-color);
$textColor:var(--text-color);

$primary: #F62D2D;