.main-header {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(32px) brightness(0.5);
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0px 20px 20px #00000029;

  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    @include md {
        height: var(--header-height-xs);
    }
  }

  .header-logo {
    display: flex;
    justify-content: center;

    @include md {
      margin-inline-end: auto;
    }

    img {
      max-width: 100%;

      @include md {
        max-height: 42px;
      }
    }
  }

  .header-btns {
    display: flex;
    gap: 0.5rem;
    --gutter: 1rem;
    margin: 0 calc(0 - var(--gutter));
    align-self: stretch;

    @include sm {
        --gutter: 0.6rem;
    }

    .dropdown {
        display: flex;

        .dropdown-menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin: 0;
        }
    }

    .header-btn {
        color: #fff;
        --icon-font-size: 1rem;
        font-size: var(--icon-font-size);
        padding: 0 var(--gutter);

        &:hover {
            color: $primaryColor;
        }

        .feather {
            width: var(--icon-font-size);
            height: var(--icon-font-size);
        }
    }

    .notifications-menu {
        padding: 1.75rem 0;
        inset-inline-end: -2rem;
        width: 70vw;
        max-width: 400px;
        height: 70vh;
        max-height: 450px;
        overflow: auto;

        .notification-item {
            padding: 0.75rem 2.75rem;
            line-height: 1.5;

            &:hover {
                background-color: #404040;
            }

            h4 {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.8rem;
                color: #fff;
                margin: 0;
            }

            p {
                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1.5rem;
                color: #CCCCCC;
                margin: 0;
            }

            span {
                font-size: 1.2rem;
                line-height: 1.5rem;
                color: #F62D2D;
                display: block;
            }
        }
    }

    .usernav-menu {
        padding: 0.75rem 1.75rem;
        inset-inline-end: 0;

        li {
            border-bottom: 1px solid #2F0808;
            
            a {
                font-size: 1.25rem;
                padding: 10px 0;
                color: #fff;

                &.logout-btn {
                    color: $primaryColor;
                }

            }

            &:last-child {
                border-bottom: none;
            }

            &:hover a {
                margin-inline-start: 10px;
            }
        }

    }
  }

  .register-btn {
    color: #fff;
    width: 6rem;
    height: 2.25rem;
    font-size: 1.25rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 20px 27px #f62d2d26;
    margin-inline-start: 15px;
  }

  @include md {
    .container {
      max-width: 100%;
    }
  }
}
